.repo-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  background-color: #f8f8ff;
  border-radius: 24px;
  height: 300px;
  margin-bottom: 24px;
  padding: 24px;
}

@media (min-width: 576px) {
  .repo-item-container {
    flex-basis: 45%;
    margin-left: 16px;
  }
}

@media (min-width: 992px) {
  .repo-item-container {
    flex-basis: 30%;
  }
}

@media (min-width: 1200px) {
  .repo-item-container {
    flex-basis: 23%;
  }
}

.avatar-img {
  width: 92px;
  height: 92px;
}

.heading {
  color: #e73959;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}

.img-detail-container {
  display: flex;
  align-items: center;
  width: 85%;
  margin-bottom: 16px;
}

.img {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.detail {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0px;
}
