.main-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  min-height: 100vh;
}

.responsive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.main-heading {
  color: #0f172a;
  font-family: 'Lobster';
  font-size: 48px;
  margin-bottom: 48px;
}

.language-filter-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}

.repo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  max-width: 1140px;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-img {
  width: 250px;
  height: 180px;
}

@media screen and (min-width: 768px) {
  .failure-img {
    width: 527px;
    height: 393px;
  }
}

.error-message {
  text-align: center;
  color: #334155;
  font-family: 'Bree Serif';
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  .error-message {
    font-size: 48px;
  }
}
